body {
        font-family: Relative Pro;
        font-weight: 500;
        -webkit-font-feature-settings: "zero" 0;
        font-feature-settings: "zero" 0;
        scrollbar-width: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 0;
        padding: 0;
        background-color: var(--color-layer-base);
        color: var(--color-text-base);
        overflow: hidden;
}

.item{
    
        font-size: 14px;
        line-height: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 268px;
        background-color: #232334;
        border-radius: 8px;
        padding: 20px;
        text-align: center;
    
}

.markets{
        display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px 16px;
    max-width: calc(var(--page-content-max-width) + var(--sidebar-width));
    gap: 1em;
}
@media (max-width: 1604px){
.markets{
        padding-left: 24px;
    padding-right: 24px;
}
}


.btn{
        font-size: 14px;
        line-height: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 268px;
        background-color: #232334;
        border-radius: 8px;
        padding: 20px;
        text-align: center;
}
.itemBtn{
        position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.allBtn{
        display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    width: 360px;
}
.singleThree{
        display: grid;
    grid-auto-flow: column;
    gap: 10px;
    border-right: 1px solid var(--color-border-grey);
    padding-right: 10px;
    margin-right: 10px;
}
/* button{
        color: aliceblue;
        border-radius: 15px;
        background-color: #6f6e84;
} */
.all {
        font-family: "Relative Pro";
        font-weight: 500;
        font-feature-settings: "zero" 0;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        cursor: pointer;
        border: none;
        user-select: none;
        white-space: nowrap;
        width: auto;
        height: 28px;
        min-height: 28px;
        font-size: 13px;
        line-height: 16px;
        border-radius: 24px;
        padding: 0px 10px;
        --button-active-background-color: var(--color-layer-dark);
        background-color: var(--button-active-background-color,var(--color-layer-light));
        color: var(--button-active-text-color,var(--color-text-light));
    }
    
   
.trade{
        padding: 8px 0px 32px;
        display: flex;
        flex-direction: row;
}

@media (max-width: 1604px){
        .trade{
                padding-left: 24px;
                padding-right: 24px;
        }
}
.tradeValume{
        font-size: 28px;
    line-height: 32px;
    color: var(--color-text-light);
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px 28px;
    flex-direction: column;
    border-right: 1px solid var(--color-border-grey);
}

.trValue{
        flex: 1 1 0%;
    max-width: 280px;
}
.tradeText{
        font-size: 14px;
        line-height: 18px;
        color: var(--color-text-dark);
        margin-bottom: 16px;
}
.trtext{
        
    font-size: 14px;
    line-height: 18px;
    color: var(--color-text-dark);
    margin-top: 4px;

}

.ghCdOs {
        display: grid;
        grid-template-columns: min(100%,var(--page-content-max-width));
        -webkit-box-pack: center;
        justify-content: center;
        overflow-y: auto;
}
.fullItem{
        display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.portfolioValue{
        margin: 32px 0 18px;
        display: grid;
        grid-template:
            "a a f"
            "b c f"
            "d e f"/150px 150px 1fr;
        --border-width: 1px;
        --border: solid var(--border-width) #2d2d3d;
        grid-gap: var(--border-width);
        gap: var(--border-width);
        border: var(--border);
        overflow: hidden;
}
.value{
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.pg{
        width: 100%;
        margin-bottom: 14px;
}
.text{
        font-size: 13px;
    line-height: 16px;
    color: #c3c2d4;
    margin-bottom: 8px;
    color: #6f6e84;
}

.market{
        font-size: 20px;
        line-height: 24px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        gap: 10px;
        color: var(--color-text-light);
        white-space: nowrap;
        overflow: auto;
}
.marketmtot{
        font-size: 14px;
        line-height: 18px;
        color: var(--color-text-dark);
        margin-top: 4px;
}
h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

  


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:   #c3c2d4!important;
}    
.eEAla {
        font-family: "Relative Pro";
        font-weight: 500;
        font-feature-settings: "zero" 0;
        display: flex;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        align-items: center;
        background-color: var(--button-background-color,var(--color-layer-lighter));
        color: var(--button-text-color,var(--color-text-base));
        cursor: pointer;
        color: white !important;
        background-color: #6f6e84 !important;
        border-radius: 15px !important;
        border: none;
        user-select: none;
        white-space: nowrap;
        width: auto;
        height: 28px;
        min-height: 28px;
        font-size: 13px;
        line-height: 16px;
        border-radius: 24px;
        padding: 0px 10px;
        --button-active-background-color: var(--color-layer-dark);
}

.openItem{
        font-size: 13px;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #171722;
    padding: 0 16px;
    height: 40px;
    min-height: 40px;
    color: #6f6e84;
    border-bottom: 1px solid #2d2d3d;
    letter-spacing: 0;
}
.singleLink{
        margin-left: 20px;
}
.positionButtom{
        width: max-content;
    min-width: 100%;
}
.positionText{
        font-size: 14px;
    line-height: 18px;
    align-items: center;
    color: #6f6e84;
    padding: 0 16px;
}