.navbar {
  /* background-color: #28334e !important; */
  background-color: white !important;
  box-shadow: 1px 3px 11px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 3px 11px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 3px 11px -2px rgba(0, 0, 0, 0.75);

  margin-bottom: 200px;
}
.right-nav-item .nav-link {
  /* color: white !important; */
  color: black !important;
}
.right-nav-item .btn-register-nav {
  /* background-color: #386dc9 !important; */
  background-color: #f35b04 !important;
}
.navbar-nav .nav-link {
  color: black;
}
.navbar-brand .bg-secondary {
  background-color: #f35b04 !important;

  color: black !important;
}

.App {
  /* background: url(../public/images/background.svg); */
  /* background: url(../public/images/44-442931_svg-transparent-euclidean-bending-background-transprent-vector-lines.png); */
  /* background: url(../public/images/Background-SVG-by-Andrew-McClintock-on-Dribbble.gif); */

  /* background: url(../public/images/scg-canvas-background-animation-24.jpg); */
  background: url(../public/images/an.jpg);

  background-size: cover;
  height: 900px;
  /* height: calc(100vh - calc(0.5em * 9.84));
  height: calc(100vh - calc(var(--gap) * 9.84)); */
  justify-content: center;
  margin: 0 auto;
  color: var(--secondary-contrast-cta-color);
  background-color: #171c29;
}

.card-sign {
  /* padding: 20px; */
  background-color: transparent !important;
  max-height: 600px !important;
  border: 2px solid black !important;
}

.resgister-div {
  margin-top: 200px;
}

.card-sign .btn-login-focus:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.card-sign .btn-sign {
  background-color: #f35b04;

  color: white;
}
.card-sign .btn-sign:hover {
  background-color: #f35b04;

  color: white;
}
/* .btn-full-width-top-register-div {
  width: 100%;
  margin: 0 !important;
padding: 0 !important;
} */

.card-sign .btn-group-top-reg {
  /* background-color: #28334e; */
  background-color: #929dac;

  color: black;
  outline: 0 !important;
  box-shadow: none !important;
}
.card-sign .btn-group-top-reg:hover {
  /* background-color: #28334e; */
  background-color: #929dac;

  color: black;

  outline: 0 !important;
  box-shadow: none !important;
}
.card-top-link {
  text-align: center;
}

.card-top-link .card-header-sign-link {
  text-decoration: none;
  text-align: center !important;
  color: black;
}
.card-sign .btn-group-top-log {
  background-color: #929dac;

  color: black;
  outline: 0 !important;
  box-shadow: none !important;
}
.card-sign .btn-group-top-log:hover {
  background-color: #929dac;

  color: black;
  outline: 0 !important;
  box-shadow: none !important;
}
.login-form,
.register-form {
  margin: 20px;
}

.landing-div {
  color: black;
}
.card-sign .form-control {
  background-color: #cbd0db;
  color: white;
}
.card-sign .form-control:focus {
  /* background-color: #cbd0db;
  color: white; */
  /* border-color: #f35b04; */
  /* border: 2px solid #f35b04;
  outline: 0 none !important; */

  border-color: #f35b04;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px white;
}
.verify-email-div {
  margin-top: 30px;
  color: white;
}
