body {
  font-family: Relative Pro;
  font-weight: 500;
  -webkit-font-feature-settings: "zero" 0;
  font-feature-settings: "zero" 0;
  scrollbar-width: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: var(--color-layer-base);
  color: var(--color-text-base);
  overflow: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
